<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->

    <add key="mcboadjustmentno.Visible" value="True" />
    <add key="Path" value="C:\Test\" />
    <add key="stdPath" value="C:\Test\StandingOrders\" />
    <add key="FilesName" value="Inv" />

    <add key="ServerName" value = "sampath-lap"/>
    <add key="DBName" value = "SCMS"/>
    <add key="UserName" value = "sa"/>
    <add key="Password" value = "123"/>

  </appSettings>
</configuration>